
.te{
    text-align: center;
}
.tex{
    color: white;
}
.b{
    display: flex;align-items: center;
}
a{

text-decoration:none;
margin-right:20px;
color:white;

}

button{

padding:10px;
background:black;
color:white;
border:none;

}



table{

margin-top:20px;
border-collapse:collapse;

}



td,th{

padding:10px;

}
.parent{
    display: flex;justify-content: space-around;
    width: 100%;
    background: black;align-items: center;
}
.logo{
    width: 20px;
    height: 20px;
    background: red;
}
.menu{
    width: 50%;
    height: 100px;
    border: 2px blanchedalmond;
    display: flex;justify-content: space-around;
    align-items: center;
}