body{

font-family: Arial;
margin:40px;

}


nav{

margin-bottom:30px;

}


nav a{

text-decoration:none;
margin-right:20px;
color:blue;

}



form{

display:flex;
flex-direction:column;
width:300px;
gap:15px;

}



input{

padding:10px;

}



button{

padding:10px;
background:black;
color:white;
border:none;

}



table{

margin-top:20px;
border-collapse:collapse;

}



td,th{

padding:10px;

}